/* Min Width 1400px */
@media only screen and (min-width:1400px) {

    .vea-banner-1 {
        padding: 50px 0 60px 100px;
    }

    .vea-banner-1 .banner-img img {
        position: absolute;
        height: 90%;
        top: 10%;
        right: -3%;
    }

    .banner-title-lg {
        font-size: 130px;
        line-height: 200px;
        letter-spacing: .11em;
    }

    .vea-experiences-2 .experience-duration h4 {
        font-size: 30px;
        padding-right: 80px;
    }

    .experience-content h2 {
        font-size: 40px;
        line-height: 64px;
        padding-right: 50px;
    }

}

/* Min Width 1200px */
@media only screen and (min-width:1200px) {

    .vea-main-nav li a {
        margin: 0 23px;
    }

    .vea-portfolio-2 .single-work {
        padding: 10px;
    }
}


/* Min Width 992px */

@media only screen and (min-width:992px) {

    .vea-main-nav {
        display: block !important;
    }

    .vea-header-wpr.sticky .vea-main-nav li a {
        color: var(--white-color);
    }

    .vea-header-wpr.sticky .sub-menu a {
        color: var(--primary-color) !important;
    }

    .vea-header-2 .vea-header-wpr.sticky .logo img {
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    .vea-header-4 .vea-header-wpr.sticky {
        padding: 20px 0;
    }

    .vea-header-wpr.sticky {
        background-color: var(--primary-color);
        padding-bottom: 0;
    }

    .vea-main-nav li ul.sub-menu {
        display: block !important;
        position: absolute;
        top: 110%;
        z-index: 100;
        background: #fff;
        box-shadow: 0 0 25px #eee;
        padding: 20px 0;
        left: -35%;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        min-width: 180px;
        margin-left: 0;
        transform: translateY(15px);
    }

    .vea-main-nav ul.sub-menu li {
        display: block;
        list-style: none;
        margin-bottom: 14px;
        position: relative;
    }

    .vea-main-nav ul.sub-menu li:last-child {
        margin-bottom: 0;
    }

    .vea-main-nav ul.sub-menu li a {
        display: block;
        text-align: center;
    }

    .vea-main-nav>li:hover>ul.sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(-1px);
    }

    .vea-header-wpr.sticky .logo span {
        color: var(--white-color);
    }

    .vea-header-4 .vea-header-wpr.sticky ul li:last-of-type a {
        opacity: 1;
    }

    .vea-header-4 li a.active::before {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        width: 4px;
        height: 4px;
        background-color: #1980FA;
        border-radius: 50%;
    }

    .mobile-menu-icon {
        display: none;
    }

    .service-tab-links {
        flex-direction: column;
        gap: 55px;
    }

    .vea-experiences-2 .review-msg {
        padding-right: 80px;
    }

    .faq-wpr {
        width: 75%;
        margin: 0 auto;
    }
}

/* Max Width 1199px */

@media only screen and (max-width:1199px) {

    .vea-banner-1 .banner-img img {
        position: absolute;
        height: 80%;
        top: 20%;
        right: -6%;
    }

    .banner-title-lg {
        font-size: 96px;
        padding: 24px 0;
    }

    .vea-experiences-1 .experience-details {
        max-width: 100%;
        margin: 0;
    }

    .vea-header-3 .vea-main-nav li.nav-item:last-of-type a {
        height: 80px;
        line-height: 80px;
    }

    .vea-banner-2 {
        height: auto;
    }

    .vea-banner-2 .banner-content {
        padding: 130px 0;
    }

    .vea-banner-3 .banner-title {
        font-size: 45px;
        line-height: 60px;
    }

    .vea-banner-3 .banner-cont-links {
        padding: 24px;
    }

    .service-1 .single-service {
        padding: 0 24px 40px;
    }

    .service-tab-links .nav-link.active::after {
        width: 35%;
        right: -30%;
    }

    .vea-portfolio-2 .single-work {
        padding: 10px;
    }

    .reviews-3 {
        background-color: #112200;
        padding: 50px 80px;
        margin-top: 0;
    }

    .vea-portfolio-1 .work-image {
        padding: 45px 40px;
    }

    .portfolio-tab-links .nav-link {
        font-size: 60px;
        line-height: 80px;
    }

    .portfolio-tab-content .tab-pane.active {
        padding: 50px 0 50px 50px;
    }

    .portfolio-tab-content .tab-pane {
        left: 15px;
    }

    .vea-blogs-4 .blog-content h5 {
        padding-bottom: 5px;
    }

    .footer-4::after {
        bottom: -25%;
    }

}

/* Max Width 991px */

@media only screen and (max-width:991px) {

    .scroll-mt-mbl {
        scroll-margin-top: 70px;
    }

    .sec-spacer {
        padding: 50px 0;
    }

    .sec-spacer-top {
        padding-top: 50px;
    }

    .sec-spacer-bottom {
        padding-bottom: 50px;
    }

    .footer-2 {
        padding-bottom: 50px;
    }

    /* Mobile Menu Start */

    .vea-header-wpr {
        background-color: var(--white-color);
        padding: 20px 0;
        box-shadow: 0 5px 15px rgb(0 0 0 / 7%);
    }

    .vea-header-1 .vea-header-wpr {
        background-color: var(--secondary-color);
        padding: 0;
    }

    .vea-header-4 .vea-header-wpr {
        padding: 16px 0;
    }

    .vea-main-nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 130;
        box-shadow: 0 10px 15px rgb(0 0 0 / 7%);
        background: var(--white-color);
        padding: 0 20px 20px;
    }

    .vea-main-nav li {
        display: block;
        padding: 8px 0;
        text-align: left;
    }

    .vea-main-nav .sub-menu {
        display: none;
        padding-left: 30px;
    }

    .vea-main-nav .sub-menu li {
        border-bottom: none;
    }

    .vea-main-nav .sub-menu li:last-child {
        padding-bottom: 0;
    }

    .vea-main-nav li:not(:last-of-type) {
        border-bottom: 1px solid #f6f6f6;
    }

    .vea-main-nav li a {
        font-size: 18px;
    }

    .mobile-menu-icon {
        width: 30px;
        height: 30px;
        font-size: 26px;
        background-color: transparent;
        outline: none;
        border: none;
        text-align: center;
        line-height: 30px;
    }

    .vea-header-1 .logo {
        width: max-content;
        height: 70px;
        line-height: 70px;
    }

    .vea-header-1 .mobile-menu-icon {
        color: var(--white-color);
    }

    .vea-header-2 .vea-main-nav li.nav-item:last-of-type {
        display: none;
    }

    .vea-header-3 .vea-main-nav li.nav-item:last-of-type a {
        width: max-content;
        height: 50px;
        margin: 0;
        padding: 0 16px;
        line-height: 50px;
        border-radius: 5px;
    }

    /* Moblie Menu End */

    .vea-banner {
        height: auto;
        padding: 55px 0;
    }

    .vea-banner-1 {
        padding: 95px 0 0;
    }

    .vea-banner-2 .banner-content {
        padding: 100px 0 30px;
    }

    .banner-title-lg {
        font-size: 85px;
    }

    .vea-banner-1 .banner-title {
        font-size: 75px;
    }

    .vea-banner-1 .banner-img img {
        position: absolute;
        height: 45%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .vea-banner-1 .banner-title::after {
        width: 210px;
        height: 210px;
        left: -30px;
    }

    .vea-banner-2 .banner-title {
        font-size: 68px;
        line-height: 100px;
    }

    .vea-banner-2 .banner-cont-links {
        margin: 24px 0;
    }

    .vea-banner-4 {
        padding: 110px 0;
    }

    .service-tab-links {
        justify-content: space-around;
    }

    .service-tab-links .nav-link {
        margin-bottom: 24px;
    }

    .skil-progress-bars {
        display: flex;
        margin-bottom: 24px;
    }

    .skills-2 .experience-details {
        padding-left: 0;
    }

    .vea-experiences-2 .single-experience {
        padding-top: 30px;
    }

    .portfolio-tab-links .nav-link {
        font-size: 52px;
        line-height: 70px;
    }

    .vea-portfolio-4 .work-details {
        padding: 20px 0;
    }

    .contact-4 .contact-wpr {
        background-color: rgba(63, 61, 86, .9);
        padding: 50px 50px;
        margin: -30px 0;
    }

    .reviews-1 .review-msg {
        width: 100%;
    }

    .reviews-3 .slick-dots {
        bottom: -15px;
    }

    .vea-experiences-1 .experience-duration {
        position: relative;
        margin-bottom: 8px;
    }

    .footer-1 .footer-about h5,
    .footer-2 .footer-about h5,
    .footer-4 .footer-about h2 {
        margin: 24px 0;
    }

    .footer-1 .footer-about h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .footer-4::after,
    .ba4-shape-sm,
    .ba4-shape-md {
        display: none;
    }

    .s4-rnd-shp {
        height: 10%;
    }

    .s1-spiral-bg {
        bottom: 5px;
        right: -130px;
        height: 30%;
    }

    .s1-wave,
    .tes1-wave {
        height: 50%;
        bottom: 30px;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px) {

    input,
    textarea {
        margin-bottom: 25px;
    }

    .vea-banner-1 .banner-img img {
        position: relative;
        height: auto;
        top: 0;
        right: 0;
        transform: translateY(0);
    }

    .vea-experiences-1 .experience-list {
        grid-template-columns: 1fr;
    }

    .vea-experiences-1 .single-experience:nth-child(even),
    .vea-experiences-1 .single-experience:nth-child(odd) {
        margin-top: 40px;
    }

    .vea-banner-2 .banner-title {
        font-size: 50px;
        line-height: 70px;
    }

    .vea-banner-4 .banner-title {
        max-width: 100%;
        font-size: 40px;
        line-height: 125%;
    }

    .service-1 {
        padding-bottom: 16px;
    }

    .service-1 .single-service {
        padding: 0 0 32px;
    }

    .service-tab-links .nav-link {
        width: 160px;
        height: 80px;
        font: var(--font-weight-semi-bold) 50px var(--title-font);
        margin: 0 4px;
    }

    .service-tab-links .nav-link span {
        font-size: 30px;
        line-height: 100px;
    }

    .portfolio-filter .filter-item {
        padding: 14px;
    }

    .portfolio-works {
        grid-template-columns: 1fr;
    }

    .portfolio-works .single-work {
        padding: 16px;
    }

    .vea-experiences-2 .single-counter {
        margin-bottom: 20px;
    }

    .vea-experiences-3 .single-experience .experience-details {
        padding: 24px;
    }

    .faq-list li input[type="radio"]:checked~.faq-content-wpr {
        height: max-content;
    }

    .faq-content-wpr .content {
        padding: 16px 40px;
    }

    .portfolio-tab-content .tab-pane {
        left: 0;
    }

    .portfolio-tab-content .tab-pane.active {
        padding: 24px;
        padding-right: 0;
    }

    .reviews-3 {
        padding: 40px 70px;
    }

    .reviews-3 .review-msg {
        font-size: 16px;
        line-height: 30px;
    }

    .portfolio-tab-links .nav-link {
        font-size: 35px;
        line-height: 35px;
    }

    .vea-portfolio-4 .work-details h5 {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 5px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .footer-1 .footer-about {
        text-align: center;
        margin-top: 32px;
    }

    .s1-wave,
    .tes1-wave {
        display: none;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px) {

    .vea-banner-1 .banner-title::after {
        width: 170px;
        height: 170px;
        top: 10px;
        left: 0;
    }

    .vea-banner-1 .banner-title {
        line-height: 80px;
    }

    .form-group label {
        text-align: left;
        margin-bottom: 8px;
    }

}

/* Max Width 480px */
@media only screen and (max-width:480px) {

    .vea-banner-2 .banner-title {
        font-size: 45px;
    }

    .single-skill {
        margin-bottom: 24px;
    }

    .portfolio-tab-links .nav-link {
        font-size: 26px;
        line-height: 24px;
    }

    .testimonial-reviews .review-msg::before {
        left: 0;
    }

    .service-2 .service-content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .vea-portfolio-1 .portfolios .portfolio-filter {
        margin-bottom: 16px;
    }

    .vea-portfolio-2 .image-overlay i {
        font-size: 45px;
    }

    .reviews-3 {
        padding: 30px 20px;
    }

    .reviews-3 .slick-list {
        margin: 0;
    }

    .reviews-3 .slick-slide {
        width: 100%;
        padding-left: 16px;
        padding-bottom: 0;
        margin: 0;
    }

    .s4-rnd-shp {
        height: 4%;
    }

    .footer-4 .footer-about h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 20px 0;
    }
}

/* Max Width 416px */

@media only screen and (max-width:416px) {

    .vea-main-nav li {
        padding: 6px 0;
    }

    .vea-main-nav li a {
        font-size: 16px;
    }

    .vea-header-1 .logo {
        height: 60px;
        line-height: 60px;
    }

    .vea-banner {
        padding: 80px 0 50px;
    }

    .banner-title-lg {
        font-size: 60px;
        line-height: 60px;
    }

    .vea-banner-1 .banner-title {
        font-size: 65px;
        line-height: 80px;
    }

    .vea-banner-2 .banner-content {
        padding: 50px 0 0;
    }

    .vea-banner-2 .scroll-dwn {
        width: 70px;
        height: 70px;
        font-size: 11px;
    }

    .vea-banner-2 .banner-title {
        font-size: 31px;
        line-height: 50px;
    }

    .vea-banner-2 .color-title {
        line-height: 60px;
    }

    .sec-heading-3 .sec-title {
        font-size: 75px;
    }

    .vea-banner-3 .banner-title {
        font-size: 35px;
        line-height: 50px;
    }

    .vea-banner-3 .banner-cont-links {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
    }

    .banner-cont-links .youtube-link {
        height: 50px;
        margin: 0;
    }

    .vea-banner-4 {
        padding: 105px 0 26px;
    }

    .vea-banner-4 .banner-content {
        align-items: flex-start;
        text-align: left;
        margin-bottom: 0;
    }

    .s1-spiral-bg {
        bottom: 20px;
        right: -60px;
        height: 10%;
    }

    .service-2 .service-content h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .vea-portfolio-1 .work-image,
    .vea-portfolio-1 .work-details {
        padding: 24px;
    }

    .reviews-2 h6,
    .testimonial-reviews .review-msg {
        font-size: 16px;
        line-height: 28px;
    }

    .testimonial-reviews .client-desig {
        margin-top: 30px;
    }

    .radial-progs-pie-svg {
        width: 150px;
        height: 150px;
    }

    .experience-content h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .vea-portfolio-4 .work-details h5 {
        font-size: 16px;
        font-weight: var(--font-weight-medium);
    }

    .footer-2 .footer-social-links a {
        font-size: 24px;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px) {

    .vea-banner-3 .banner-title {
        font-size: 32px;
        line-height: 45px;
    }

    .vea-banner-3 .banner-cont-links {
        grid-template-columns: 1fr;
    }

    .banner-cont-links .youtube-link {
        width: 50%;
    }

    .vea-banner-4 .banner-title {
        font-size: 35px;
    }

    .sec-heading-3 .sec-title {
        font-size: 70px;
    }

    .portfolio-filter .filter-item {
        padding: 8px;
    }

    .vea-portfolio-1 .work-image,
    .vea-portfolio-1 .work-details {
        padding: 16px;
    }

    .portfolio-tab-links .nav-link {
        font-size: 20px;
        font-weight: var(--font-weight-normal);
        line-height: 24px;
        -webkit-text-fill-color: var(--primary-color);
    }

    .service-2 .service-content h2 {
        font-size: 27px;
    }

    .experience-content h2 {
        font-size: 27px;
        line-height: 40px;
    }

    .vea-portfolio-4 div[class="col-6"] {
        width: 100% !important;
    }

    .footer-4 .footer-about h2 {
        font-size: 24px;
    }
}

/* Max Width 320px */

@media only screen and (max-width:320px) {

    .banner-title-lg {
        font-size: 50px;
        line-height: 54px;
    }

    .vea-banner-1 .banner-title {
        font-size: 55px;
        line-height: 60px;
    }

    .vea-banner-1 .banner-title::after {
        width: 150px;
        height: 150px;
        top: -15px;
    }

    .vea-banner-1 .banner-title::before {
        width: 150px;
        height: 140px;
    }

    .vea-banner-2 .banner-title {
        font-size: 29px;
    }

    .vea-banner-3 .banner-title {
        font-size: 29px;
        line-height: 40px;
    }

    .vea-banner-4 .banner-title {
        font-size: 32px;
    }

    .service-tab-links .nav-link {
        width: 130px;
        height: 70px;
        font: var(--font-weight-semi-bold) 40px var(--title-font);
        margin: 0 4px;
    }

    .service-tab-links .nav-link span {
        font-size: 30px;
        line-height: 100px;
    }

    .single-counter h5 {
        font-size: 24px;
    }

    .radial-progs-pie-svg {
        width: 120px;
        height: 120px;
    }

    .skills-2 .single-experience {
        padding: 16px 0;
        border: none;
    }

    .sec-heading-3 .sec-title {
        font-size: 60px;
    }

    .portfolio-tab-links .nav-link,
    .portfolio-filter .filter-item {
        font-size: 19px;
    }

    .service-2 .service-content h2 {
        font-size: 24px;
        line-height: 35px;
    }

    .experience-content h2 {
        font-size: 24px;
        line-height: 35px;
    }

    .footer-1 .footer-about h2 {
        font-size: 35px;
    }
}